




<div class="app container p-3 mb-5 rounded">

    <header>
        <app-nav-bar></app-nav-bar>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>


    <!-- Área de exibição -->

    <!-- <section>

        
        <div class="label-item">
        <mat-tab-group class="bg-text" mat-stretch-tabs="false" mat-align-tabs="center">
                <mat-tab id="listagem" label="Listagem">
                    Listagem
                    <app-listar-moedas></app-listar-moedas>  
                </mat-tab>
                <mat-tab id="converter" label="Conversor">Conversor</mat-tab>
                <mat-tab id="historico" label="Histórico">Histórico</mat-tab>
                
            </mat-tab-group>
        </div>


    </section> -->


    
</div>


