












<section class="container  modal-box" >

  <h1>{{ title }}</h1>
  <hr>
      
    <div class="">
        <p>As informações desta conversão serão excluidas. <br/><br/> Confirma a exclusão?</p>
        <hr>
        <div class="acoes">
            <button class="botao botao-excluir" mat-flat-button color="warn" (click)="excluir()">{{ okTxt}}</button>
            <button  class="botao botao-cancelar" mat-flat-button (click)="cancelar()">{{cancelTxt}}</button>
        </div>
    </div>


</section>


