





<section class="principal container">
  <article class="main-box">
    <div class="img-main">
      <img
        src="https://media.istockphoto.com/id/658494728/photo/main-currencies-symbols.jpg?s=612x612&w=0&k=20&c=w1tezIFh0K3kPVCuQ_oMbDxqe6kmRu9cikhN9ir1HcQ="
        alt="img-fundo"
      />

      <div class="text">
        <h2>Conversor de Moedas - Desafio#4</h2>

        <p class="text-shadow">
          Projeto do Programa de Residência em Desenvolvimento de Software da
          <strong>iUUL</strong>. O objetivo é praticar aplicação com o Framework
          Angular consumindo a APi<a
            href="https://exchangerate.host/"
            target="_blank"
            style="color: #fffb07"
            ><strong> exchangerate</strong></a
          >.
        </p>
      </div>
    </div>
  </article>

  <div class="mt-5">
    <h2>Tamanho</h2>
    <span class="text-shadow">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
      reiciendis, veritatis asperiores a totam porro, quis voluptas doloribus,
      harum aliquam officia. Quaerat suscipit adipisci veniam eveniet inventore
      quod provident quibusdam ullam id, aut mollitia modi minima! Error cum
      soluta eum.
    </span>
  </div>

  <!-- collapse -->
  <div class="mb-5" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="bg-card-header card bg-light mb-4">
      <div class="card-header" role="tab" id="headerOne">
        <h4 class="card-title">
          <a
            role="button"
            data-bs-toggle="collapse"
            data-parent="#accordion"
            href="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Listagem <span class="material-icons v-center">arrow_drop_down</span>
          </a>
        </h4>
      </div>
      <div
        id="collapseOne"
        class="card-collapse collapse in"
        role="tabcard"
        aria-labelledby="headerOne"
      >
        <div class="card-body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur
          aliquam repellendus temporibus illum facilis unde, sed dolorem ab
          rerum necessitatibus, ipsam ratione debitis ut, vero qui deleniti?
          Illum, totam quos? Possimus quia quod officia atque magni ab
          voluptatibus id unde aspernatur? Aliquid temporibus tempora qui quae
          tenetur et aspernatur optio saepe! Reiciendis dolorum praesentium
          porro eos, quibusdam quasi fuga ipsum.
        </div>
      </div>
    </div>

    <div class="bg-card-header card mb-4 bg-light">
      <div class="card-header" role="tab" id="headerTwo">
        <h4 class="card-title">
          <a
            role="button"
            data-bs-toggle="collapse"
            data-parent="#accordion"
            href="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            Converção <span class="material-icons v-center">arrow_drop_down</span>
          </a>
        </h4>
      </div>
      <div
        id="collapseTwo"
        class="card-collapse collapse"
        role="tabcard"
        aria-labelledby="headerTwo"
      >
        <div class="card-body">
          Possimus quia quod officia atque magni ab voluptatibus id unde
          aspernatur? Aliquid temporibus tempora qui quae tenetur et aspernatur
          optio saepe! Reiciendis dolorum praesentium porro eos, quibusdam quasi
          fuga ipsum.
        </div>
      </div>
    </div>

    <div class="bg-card-header card mb-4 bg-light">
      <div class="card-header" role="tab" id="headerThree">
        <h4 class="card-title">
          <a
            role="button"
            data-bs-toggle="collapse"
            data-parent="#accordion"
            href="#collapseThree"
            aria-expanded="true"
            aria-controls="collapseThree"
          >
            Histórico <span class="material-icons v-center">arrow_drop_down</span>
          </a>
        </h4>
      </div>
      <div
        id="collapseThree"
        class="card-collapse collapse"
        role="tabcard"
        aria-labelledby="headerThree"
      >
        <div class="card-body">
          OPossimus quia quod officia atque magni ab voluptatibus id unde
          aspernatur? Aliquid temporibus tempora qui quae tenetur et aspernatur
          optio saepe! Reiciendis dolorum praesentium porro eos, quibusdam quasi
          fuga ipsum.
        </div>
      </div>
    </div>
  </div>
</section>
