/* You can add global styles to this file, and also import other style files */




* {
    
    

}

a {
    text-decoration: none;
}

html{
    background-color: #ffffff;
    /* height: 100vh; */
}



body { 
    margin: 2% 5%;
    
    
    background-color: #F1F3F4;
    /* background: linear-gradient(0.25turn, #2B2B2B,#2B2B2B, #A49DA5, 50%,#A49DA5,#2B2B2B, #2B2B2B); */
    border-radius: 8px;
    box-shadow: 1px 3px 8px #70757A;
    
 }


