@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,400;0,600;0,800;1,100;1,200;1,400;1,600;1,800&display=swap');







.nav-box {
    background: linear-gradient(0.25turn, #2B2B2B, #2B2B2B, #A49DA5, 50%, #A49DA5, #2B2B2B, #2B2B2B);
    height: 4rem;    
}


.nav-box a {

    color: #7fff00;
}


.menu-a {
    /* background: linear-gradient(0.25turn, #2B2B2B, #2B2B2B, #A49DA5, 50%, #A49DA5, #2B2B2B, #2B2B2B); */
    background: #A49DA5;
}


.menu-a a:hover {
    background: linear-gradient(#2B2B2B, #A49DA5);

}


#title {
    color: #7fff00;
    font-family: 'Work Sans', sans-serif;

}


.menu-a a {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}


.menu-icon {
    font-size: 1.4rem;
    padding-right: 10px;
}