




<header>
  <nav class=" nav-box navbar navbar-expand-lg navbar-light">
    <div class="menu container-fluid justify-content-center">
      <div>
        <a id="title" class="navbar-brand" href="#">
          <img src="https://m.media-amazon.com/images/I/712AL8mRJvL.png" alt="" width="40" height="34" class="d-inline-block align-text-center">
        Conversor de Moedas
        </a>

      </div>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="menu-a dropdown-menu bg-transparent" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Listar Moedas</a></li>
              <li><a class="dropdown-item" href="#">Converter</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Histórico</a></li>
            </ul>
          </div>
    </div>
  </nav>
</header>
