




<div class="container mt-3">
  <nav class="nav-box navbar">
    <div class="container justify-content-center">
      <div>
        <a id="title" class="navbar-brand" href="/" routerLink="/">
          <img
            src="https://m.media-amazon.com/images/I/712AL8mRJvL.png"
            alt="logo"
            width="34"
            height="32"
            class="d-inline-block align-text-center"
          />
          Conversor de Moedas
        </a>
      </div>
      <div class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="material-icons">menu</i>
        </a>
        <ul class="menu-a dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="#listagem" routerLink="/listagem" routerLinkActive="active">
              <i class="menu-icon material-icons">list</i>Listar Moedas</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#converter" routerLink="/conversor" routerLinkActive="active">
              <i class="menu-icon material-icons">autorenew</i>Converter</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#historico" routerLink="/historico" routerLinkActive="active">
              <i class="menu-icon material-icons">history</i>Histórico</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
