




<section class="lista container pt-3 ">

    <h1>Histórico de conversões</h1>
    <hr>
    
    <div *ngIf="data.length > 0; else listaVazia">

      <mat-form-field>
          <mat-label>Filtrar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. usd" #input>
      </mat-form-field>
        
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        
          <!-- ID -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Nº </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Data -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.data}} </td>
          </ng-container>
        
          <!-- Hora -->
          <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
            <td mat-cell *matCellDef="let element" > {{element.hora}} </td>
          </ng-container>
        
          <!-- Valor -->
          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
          </ng-container>
        
          <!-- Moeda Escolhida -->
          <ng-container matColumnDef="moedaEscolhida">
            <th mat-header-cell *matHeaderCellDef> Moeda Escolhida </th>
            <td mat-cell *matCellDef="let element"> {{element.moedaEscolhida}} </td>
          </ng-container>
  
          <!-- Moeda Convertida -->
          <ng-container matColumnDef="moedaConvertida">
            <th mat-header-cell *matHeaderCellDef> Moeda Convertida </th>
            <td mat-cell *matCellDef="let element"> {{element.moedaConvertida}} </td>
          </ng-container>
  
           <!-- Resultado -->
           <ng-container matColumnDef="resultado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Resultado </th>
              <td mat-cell *matCellDef="let element"> 
                  <mat-icon *ngIf="element.valorDolar > 10000" matTooltip="Valor Acima de US$ 10,000 atingido" aria-label="icon alerta" 
                    class="v-center" style="color: #FFB300" >report</mat-icon>
                {{element.resultado}} 
                
              </td>
            </ng-container>
  
          <!-- Taxa -->
          <ng-container matColumnDef="taxa">
            <th mat-header-cell *matHeaderCellDef> Taxa </th>
            <td mat-cell *matCellDef="let element"> {{element.taxa}} </td>
          </ng-container>
         
  
          <!-- Ações -->
          <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef> Ação </th>
            <td mat-cell *matCellDef="let element"> {{element.acao}}
              <button  mat-icon-button color="warn" matTooltip="Excluir" routerLink="/historico/acoes"
               (click)="getValue(element.id)"
               
               aria-label="btn deletar" >
                <mat-icon>delete</mat-icon>
              </button>
  
              <button mat-icon-button style="color: #154580;" matTooltip="Salvar" aria-label="btn salvar">
                <mat-icon>save</mat-icon>
              </button>
              
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
  
  
        <mat-paginator class="mat-elevation-z8" #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="10"
          [showFirstLastButtons]="true"
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Select page">
        </mat-paginator>     
    </div>

    <ng-template #listaVazia>
      <h1>Você ainda não fez nenhama conversão.</h1>

    </ng-template>
     
</section>
